body {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: space-around;
   background-color: lightblue;
   position: relative;
}

.header-1 {
   display: flex;
   font-size: 20px;
   flex: 1;
   color: blue;
   flex-direction: row;
   justify-content: center;
}

.header-2 {
   position: absolute;
   display: flex;
   flex-direction: row;
   left: 0;
   top: 10px;
}

.header-2 a{
   text-decoration: none;
   color: rgb(117, 0, 0);
   margin-left: 50px;
}

.main {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   flex: 1;
   margin-top: 100px;
}

.main-0 {
   display: flex;
   flex-direction: column;
   /* align-items: center; */

   width: 500px;
   border-color: black;
   border-width: 1px;
}

.main-0 h1 {
   color: rgb(139, 1, 1);
   font-size: 50px;   
}

.main-2 {
   margin-bottom: 10px;
}

.main-2 #name,
.main-2 #password {
   width: 150px;
   height: 25px;
   border-radius: 3px;
   border-width: 1px;
   border-color: black  ;
   padding-left: 5px;
}

.main-2 #name:active {
   border-width: 1px;
}

.main-3 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 300px;
}

.button-1 {
   width: 100px;
   height: 30px;
   background-color: rgba(209, 209, 42, 0.534);
   border-radius: 10px;
   border-width: 1px;
   font-weight: bolder;
   font-size: 15px;
   justify-content: center;
   cursor: pointer;
}

.result {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
