
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

@media screen and (min-width: 1200px) {

    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .body_2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 885px) {

   .button-1 {
       margin-top: 150px;
   }
}

body {
    min-width: 600px;
}

.body-1 {
    background-image:  url("../image/bgimage1.jpg");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70em;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Open Sans";
}
.body-2 {
    background-image:  url("../image/bgimage2.jpg");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70em;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 800px;
}

.body-3 {
    background-image: url("../image/bgimage3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    height: 65em;
    width: 100%;
}

.body-4 {
    background-image: url("../image/bgimage4.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    height: 80em;
    width: 100%;
}

.body-5 {
    background-image: url("../image/bgimage5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 65em;
    width: 100%;
}

.body-6 {
    background-image: url("../image/bgimage6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 65em;
    width: 100%;
}

.mid_body1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.body_2 {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    flex: 1;
}

.text_body2 {
    display: flex;
    color: white;
    font-family: 'Open Sans';
    flex-direction: column;
    flex: 0.5;
    align-items: flex-end;
    margin-right: 50px;
    margin-left: 50px;
    width: 200px;
}

.text_body2 h1 {
    font-size: 70px;
    text-align: end;
}

.mid_body2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
}

.mid_body2 img {
    margin-left: 50px;
    width: 80%;
    height: 450px;
}

.absolute-1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    width: 80%;
    margin-left: 30px;
    height: 20px;
}

.absolute-1 img {
    display: flex;
    position: relative;
    width: 20px; 
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
}

.bg-dark {
    background-color: rgba(0,0,0,0.5) !important;
}


.h1 {
    color: white !important;
    font-size: 2.5em;
    font-family: 'Open Sans' !important;
}

.h2 {
    color: white !important;
    font-size: 0.8em;
    font-family: 'Open Sans' !important;
}

.width-1 {
    width: 20%;
    margin-left: 10%;
}

.width-2 {
    display: flex;
    width: 300px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.button-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.button-1 .btn {
    width: 300px;
}

.footer-1 {
    margin-top: 50px;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 300px;
}

.footer-1 img {
    width: 30px; 
    height: 12px; 
    image-resolution: 100%;
}

.navbar-light {
    height: 5em !important;
}

.col-8 {
    height: 100%;
}

input[type=text] {
    background: rgb(32, 32, 32);
    border: none;
    color: rgb(0, 0, 0) !important;
    width: 200px;
    position: relative;
    
}

.card-1 {
    display: flex;
}

.button-100 {
    height: 4rem; 
    position:absolute;
    top: 0;
    right: -220px;
    width: 200px;
}