<%- include('./headerch3'); %>
<body>
   <div class="body-1">
    <nav class=" justify-content-around p-2 navbar navbar-light bg-dark d-flex flex-column bd-highlight mb-3">
         <div class="p-2 bd-highlight  ">
           <span class="h1 fw-bold">LOGO</span>
         </div>
         <div class="width-2 d-flex p-2 bd-highlight flex-row justify-content-around ">
             <span class="h2 fw-bold">HOME</span>
             <span class="h2 fw-bold">WORK</span>
             <span class="h2 fw-bold">CONTACT</span>
             <span class="h2 fw-bold">ABOUT ME</span>
           </div>
           <div class="width-1 d-flex p-2 bd-highlight flex-row justify-content-evenly align-items-center">
             <span class="h2 fw-bold">SIGN UP</span>
             <span class="h2 fw-bold">LOGIN</span>
           </div>
     </nav>
     <div class="mid_body1">
       <p style="font-size:120px; font-weight:bold" class="text-center h1">Play Traditional Game</p>
       <p style="font-size:30px; font-weight:lighter" class="text-center h1">Experience New Traditional Game Play</p>
     </div>
     <div class="button-1">
       <!-- <form action="./login" method="get"> -->
       <button style="height: 80px" type="button" class="fw-bold btn btn-lg btn-warning btn-center button-2">Login Here</button>
       <!-- </form> -->
     </div>
     <div class="text-center img-fluid footer-1">
         <p style="color: white; font-family: Open Sans;" class="fw-bold">THE STORY</p>
         <img class="rounded" src="image/scrolldown.png">
     </div>
   </div>
   <div class="body-2">
     <div class="body_2">
       <div class="text_body2">
         <h1>What's so special? </h1>
         <h2> THE GAMES </h2>
       </div>
       <div class="mid_body2">
          <img src="image/rockpaper.jpg ">
        <div class="absolute-1">
           <img src="image/screenshot1.svg" >
           <img src="image/screenshot2.svg">
           <img src="image/screenshot2.svg" >
           <img src="image/screenshot2.svg" >
           <img src="image/screenshot2.svg" >
         </div>
       </div>
       
     
     </div>
   </div>
   <div class="body-3 ">
       <div class="container ">
            <div class="row">
             <div class="col-7 col-md-4 offset-md-7 col-sm-5">
               <p class="text-start" style="font-family:'Courier New', Courier, monospace; font-size: 150%;  color: white; padding-top: 60%; padding-left: 3%;"> What's so special?</p>
                   <p class="text-start" style="margin-top: -1%; padding-left: 3%;font-family: Arial; font-weight: lighter !important; font-size: 4em; color:white; ">FEATURES<p>
                     <p style="border: 1px solid white ; margin-left: -2.6%; margin-top: 6.6%; width: 130px; transform: rotate(90deg); display: inline; position: absolute;"></p>
                     <img class="text-start img fluid" style="padding-top: 2.7%;padding-left: 0.5%; position: absolute;" src="image/Bulat1.svg">
                     <P class="text-start" style="padding-top: 10%; padding-left: 15%;
                     font-family: Arial; font-weight: lighter !important; font-size: 150%; color:rgb(255, 174, 0); "> TRADITIONAL GAMES</P> 
                     <img class="text-start img fluid" style="padding-top: 5%; padding-left: 0.5%; position: absolute;" src="image/Bulat.svg">
                     <P class="text-start" style="padding-top: 0%; padding-left: 15%;font-family: Open Sans; font-weight: lighter !important; font-size: 100%; color:rgb(255, 255, 255); "> If you miss your childhood, we provide many traditional games here</P>
                     <P class="text-start" style="padding-top: 5%; padding-left: 15%;font-family: Arial; font-weight: lighter !important; font-size: 150%; color:rgb(255, 174, 0); "> GAME SUIT</P> 
                     <img class="text-start img fluid" style="padding-top: 1.6%; padding-left: 0.5%; position: absolute;" src="image/Bulat.svg">
                     <P class="text-start" style="padding-top: 5%; padding-left: 15%;font-family: Arial; font-weight: lighter !important; font-size: 150%; color:rgb(255, 174, 0); "> TBD</P> 
                     
               </div>
             </div>  
       </div>
     </div>
     <div class="body-4">
       <div class="text-center">
         <p class="text-center" style="color: white; font-family: Open Sans; font-weight: 400; padding-top: 8%; font-size: 1.5em;">Can My Computer Run This Game?</p>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-6 h1" style="font-size: 4em; margin-top: 5%;">SYSTEM REQUIREMENTS</div>
           <div class="w-100"> <br> <br> </div>
           <div class="col-6 col-sm-3" style="border: 1px outset rgb(104, 83, 44); border-radius: 5px;">
             <p class="text-start" style="color: rgba(255, 166, 0, 0.836); font-size: 2em; padding-left: 0.5vw; font-family: Open Sans;"> O S </p>
             <p class="text-start" style="color: rgb(168, 166, 166); font-size: 1.3em; padding-left: 0.5vw; position: relative; padding-top: -1vw; margin-bottom: 10%;"> Windows 7 64-bit only <br>(No OSX support at this time)</p>
           </div>
           <div class="col-6 col-sm-3" style="border: 1px groove rgb(104, 83, 44); border-radius: 5px;">
             <p class="text-start" style="color: rgba(255, 166, 0, 0.836); font-size: 2em; padding-left: 0.5vw;"> PROCESSOR </p>
             <p class="text-start" style="color: rgb(168, 166, 166); font-size: 1.3em; padding-left: 0.5vw; position: relative; padding-top: -1vw; margin-bottom: 10%;"> Intel Core 2 Duo @2.4 GHZ or <br> AMD Athlon X2 @2.8 GHZ</p>
           </div>
           <!-- baris baru -->
           <div class="w-100"></div>
            <div class="col-6 col-sm-3" style="border: 1px groove rgb(104, 83, 44); border-radius: 5px;">
             <p class="text-start" style="color: rgba(255, 166, 0, 0.836); font-size: 2em; padding-left: 0.5vw; font-family: Open Sans;"> MEMORY</p>
             <p class="text-start" style="color: rgb(168, 166, 166); font-size: 1.3em; padding-left: 0.5vw; position: relative; padding-top: -1vw; margin-bottom: 10%;"> 4 GB RAM</p>
            </div>
           <div class="col-6 col-sm-3" style="border: 1px groove rgb(104, 83, 44); border-radius: 5px;">
             <p class="text-start" style="color: rgba(255, 166, 0, 0.836); font-size: 2em; padding-left: 0.5vw; font-family: Open Sans;"> STORAGE</p>
             <p class="text-start" style="color: rgb(168, 166, 166); font-size: 1.3em; padding-left: 0.5vw; position: relative; padding-top: -1vw; margin-bottom: 10%;"> 8 GB Available Space</p>
           </div>
           <div class="w-100"></div>
           <div class="col-6" style="border: 1px groove rgb(104, 83, 44); border-radius: 5px;">
             <p class="text-start" style="color: rgba(255, 166, 0, 0.836); font-size: 2em; padding-left: 0.5vw; font-family: Open Sans;"> GRAPHICS</p>
             <p class="text-start" style="color: rgb(168, 166, 166); font-size: 1.3em; padding-left: 0.5vw; position: relative; padding-top: -1vw; margin-bottom: 10%;">NVIDIA GeForece GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
           </div>
         </div>
       </div>
     </div>
     <div class="body-5">
       <div class="text-start h1" style="font-size: 4em; padding-top: 15%; font-family: Arial; padding-left: 8vw"> TOP SCORES</div> 
       <div class="text-start" style="padding-left: 8vw; color: white; font-size: 1.5em;padding-top: 0.5vw"> This top score from various games provided <br>  
         on this platform</div>
       <button type="button" class="btn btn-warning" style="margin-left: 8vw; margin-top: 3vw; width: 15%; background-color: rgb(255, 187, 60); font-family: 'Open Sans'; font-weight: bolder; color: black; height: 6%;">See More</button>

       <div class="card text-white bg-dark bg-secondary mb-3" style=" max-width: 30rem; margin-top: -25%; margin-left: 60%; ;">
         <div class="card-body" style="background-color: rgb(58, 58, 58); border-radius: 10px">
           <img src="image/orang1.jpg" style="position: absolute; border-radius: 50%;">
           <img src="image/bulatkuning.png" style="margin-left: 3%;margin-top: 2%; display: inline;">
           <img src="image/twitter.svg" style="margin-left: 90%; margin-top: -30%;">
           <h5 style="position: relative; font-size: 2em; color: orange; margin-top: -20%; margin-left: 20%;"> Evan Lahti</h5>
           <h5 style="position: relative; font-size: 1.2em; color: rgba(102, 102, 102, 0.842); margin-top: -2%; margin-left: 20%;"> PC Gamer</h5>
           <h5 class="card-title" style="font-family: Arial; position: relative; margin-top: 5%;">"One of my gaming highlights of the year."</h5>
           <p class="card-text" style="font-family: arial;font-size: 0.8em; color: rgba(102, 102, 102, 0.842); margin-top: 4%;">June 18, 2021</p>
         </div>
        </div>
        <div class="card text-white bg-dark bg-secondary mb-3" style=" max-width: 30rem; max-height: fit-content; margin-top: 0%; margin-left: 50%;">
         <div class="card-body" style="background-color: rgb(58, 58, 58); border-radius: 10px">
           <img src="image/orang2.jpg" style="position: absolute; border-radius: 50%; width: 15%;">
           <img src="image/bulatkuning.png" style="margin-left: 3%;margin-top: 2%; display: inline;">
           <img src="image/twitter.svg" style="margin-left: 90%; margin-top: -30%;">
           <h5 style="position: relative; font-size: 2em; color: orange; margin-top: -20%; margin-left: 20%;"> Jada Griffin </h5>
           <h5 style="position: relative; font-size: 1.2em; color: rgba(102, 102, 102, 0.842); margin-top: -2%; margin-left: 20%;"> PC Gamer</h5>
           <h5 class="card-title" style="font-family: Arial; position: relative; margin-top: 8%;">" The next big thing in the world of streaming <br>
             and survival games."</h5>
           <p class="card-text" style="font-family: arial;font-size: 0.8em; color: rgba(102, 102, 102, 0.842); margin-top: 4%;">July 10, 2021</p>
           </div>
         </div>
         <div class="card text-white bg-dark bg-secondary mb-3" style=" max-width: 30rem; max-height: fit-content; margin-top: 0%; margin-left: 60%; ;">
           <div class="card-body" style="background-color: rgb(58, 58, 58); border-radius: 10px">
             <img src="image/orang3.jpg" style="position: absolute; border-radius: 50%; width: 15%;">
             <img src="image/bulatkuning.png" style="margin-left: 3%;margin-top: 2%; display: inline;">
             <img src="image/twitter.svg" style="margin-left: 90%; margin-top: -30%;">
             <h5 style="position: relative; font-size: 2em; color: orange; margin-top: -20%; margin-left: 20%;"> Aaron Williams </h5>
             <h5 style="position: relative; font-size: 1.2em; color: rgba(102, 102, 102, 0.842); margin-top: -2%; margin-left: 20%;"> Uproxx</h5>
             <h5 class="card-title" style="font-family: Arial; position: relative; margin-top: 8%;">"Snoop Dogg Playing the Wildly Entertaining
               'SOS' Is Ridiculous."</h5>
             <p class="card-text" style="font-family: arial;font-size: 0.8em; color: rgba(102, 102, 102, 0.842); margin-top: 4%;">December 24, 2018</p>
             </div>
           </div>
     </div>
     <div class="body-6">
       <div class="row g-0">
         <div class="col-6 col-md-5 img-fluid text-end" style="height: 100%;">
         <img src="image/image .png" style="padding-top: 15%;">
         </div>
         <div class="col-sm-6 col-md-7" style="height: 100%;">
         <p class="h2 text-start" style="color: white; font-family: Arial;font-size: 125%; font-weight: 200; padding-top: 15%; padding-left: 14%;">Want to stay in <br>touch</p>
         <p class="h1 text-start" style="color: white;font-size: 500%; font-weight: 300; padding-top: 0%; padding-left: 14%;"> NEWSLETTER</p>
         <p class="h1 text-start" style="color: white;font-size: 500%; font-weight: 300; margin-top: -2%; padding-left: 14%;"> SUBSCRIBE</p>
         <p class="h2 text-start" style="color: white; font-family: 'Open Sans';font-size: 100%; font-weight: 200; padding-top: 2%; padding-left: 14%;">In order to start receiving our news, all you have to do is enter your email <br>address. Everything else will be taken care of by us. We will send you emails<br>containing information abaout game. We don't spam.</p>
         <div class="card text-white bg-secondary mb-2 card-1" style="max-width: 14rem;max-height: 1rem; margin-left: 14%; margin-top: 4%;border: none; ;" >
           <div class="card-body" style="background-color: rgb(32, 32, 32);max-height: 4rem; border-radius: 5px;" >
             <h5 class="card-title" style="font-family:'open sans'; font-size: 70%;color: rgb(83, 83, 83);">Your email addres</h5>
             <div class="input">
                 <input type="text" placeholder="youremail@binar.co.id">
             </div>
             <button type="button" class="btn btn-warning button-100" style="background-color: rgb(255, 187, 60); font-family: 'Open Sans'; font-weight: bolder; color: black; ">Subscribe now</button>
             </div>
         </div>
         </div>

         
       </div>
       <div class="row g-0">
         <div class="col-6 col-md-3"></div>
         <div class="col-sm-6 col-md-8 h2" style="padding-top: 3vw;">
           <div class="container">
             <div class="row align-items-center">
               <div class="col">
                 MAIN    
               </div>
               <div class="col">
                 ABOUT
               </div>
               <div class="col">
                 GAME FEATURES
               </div>
               <div class="col">
                 SYSTEM REQUIREMENT
               </div>
               <div class="col">
                 QUOTES
               </div>
               <div class="col">
                 <img src="image/acebook.svg">
               </div>
               <div class="col">
                 <img src="image/twitter.svg">
               </div>
               <div class="col">
                 <img src="image/Vector.svg">
               </div>
               <div class="col">
                 <img src="image/ector.png" >
               </div>
             </div>
           </div>
       </div>
     </div>
     <p style="border: 1px solid white; width: 81%; margin-left: 6%;margin-top: 2%;"></p>
     <div class="d-flex justify-content-between" style="display: inline; width: 81%; margin-left: 6%;">
     <p> &copy; 2018 Your Games, Inc. All rights Reserved
     </p>
     <p class="h2">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
     </div>
     
   </div>


   <script src="javascript/JSpr1.js"></script>
 </body>
 

</html>