<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/NewRPS.css" rel="stylesheet">
      <title>
         RPS GAME
      </title>
   </head>
   <body>
      <header>
         <div id="header">
            <img id="img1-header" src="image/_.png">
            <img id="img2-header" src="image/logo 1.png">
            <p> ROCK PAPER SCISSORS</p>
         </div>
      </header>
      <main>
      <div id="main">
         <div id="flex-1">
            <p> PLAYER 1</p>
            <img id="batu-el" alt="Batu" src="image/batu.png">
            <img id="kertas-el" alt="Kertas" src="image/kertas.png">
            <img id="gunting-el" alt="Gunting" src="image/gunting.png">
         </div>
         <div id="flex-2">
            <p id="hasil-el"> VS </p>
            <p id="hasil-el1"></p>
            <img src="image/refresh.png" onclick="fungsi.restartGame()">
         </div>
         <div id="flex-3">
            <p> COM</p>
            <img id="batu-com" src="image/batu.png">
            <img id="kertas-com"  src="image/kertas.png">
            <img id="gunting-com" src="image/gunting.png">
         </div>
      </div>
      <script src="javascript/NewRPS.js"></script>
   </main>
   </body>
</html>